<form>
    <div class="form-group">
        <label for="nombre">Pais Destino</label>
        <input	type="text"	class="form-control" id="nombre" placeholder="Ej. Spain" #nombre>
    </div>
    <div class="form-group">
        <label for="Imagen Url">Lugar turistico</label>
        <input	type="text"	class="form-control" id="imagenUrl"	placeholder="Ej. Coliseo Romano" #url>
    </div>
    <button	type="submit" class="btn btn-danger" (click)="guardar(nombre.value , url.value)">Agregar Destino</button>
</form>
